@tailwind base;


:root {
  --color-bg: #fff;
  
}
.intro-bg {
  background: rgba(33,33,33,.80);
  background: radial-gradient(circle, rgba(33,33,33,.80) 25%, rgba(33,33,33,0) 100%);
}

.article-bg {
  background: rgb(33,33,33);
  background: linear-gradient(180deg, rgba(33,33,33,0.9304096638655462) 0%, rgba(33,33,33,0) 35%, rgba(33,33,33,1) 100%);
}

body {
  font-family: 'Open Sans', sans-serif;
}

.alt-font {
  font-family: 'Teko', sans-serif;
  font-weight: 400;
}

.bg-styles {
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: none;
    background-size: cover;
}


a {
  transition: color .4s ease-in-out;
} 
a:hover {
  @apply text-orange-600;
} 

@tailwind components;

@tailwind utilities;

@media only screen and (min-width: 769px) {
  .card-shadow {
    box-shadow: 0 10px 28px rgba(0,0,0,.08);
  }
}

@media only screen and (min-width: 769px) and (prefers-color-scheme: dark) {
  .card-shadow {
    box-shadow: 0 10px 28px rgba(255,255,255,.08);
  }
}
.content {
  min-height: calc(100vh - 5.25rem);
}
.footer {
  height: 2rem;
}


a.anchor:hover {
  @apply text-orange-500;
}


/* .container {
  content-visibility: auto;
}  */

.icon-bar {
width: 25px;
height: 2px;
background-color: #fff;
transition: all .2s;
display: block;
margin: 5px;
  }


.open .icon-bar:first-child {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }

.open .icon-bar:nth-child(2) {
    opacity: 0;
  }

.open .icon-bar:last-child {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }

.open .top-bar {
  transform: rotate(0);
}

.open .middle-bar {
  opacity: 1;
}

.open .bottom-bar {
  transform: rotate(0);
}

button:focus {
  outline: none;
}
/* purgecss ignore */
.svg-inline--fa {
  width: 1.25em;
  display: inline-block;
}
/* purgecss ignore */
.leaflet-container { 
  height: 15rem;
}

body {
  color: rgb(26, 32, 44);
}

.alt-bg {
  background-color: rgba(237, 242, 247, 0.6)
}


.ol-rules {
  list-style: decimal;
  list-style-position: outside;
}
.ol-rules li::marker {
  min-width: 1rem;
  text-align: right;
}

.ol-rules li {
  margin-bottom: 0.5rem;
  padding-left: 0.5rem; 
  margin-left: 2rem;
}

.flip {
  transform: scaleY(-1) scaleX(-1) translateY(1px);
}
.content-visibility {
  content-visibility: auto;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(33, 33, 33);
        color: rgb(237, 242, 247)
    }
    .bg-white {
      background-color: rgb(33, 33, 33);
    }
    .alt-bg {
      background-color: rgba(30, 34, 37, 0.6)
    }
    .bg-gray-400 {
      background-color: rgb(179 187 204)
    }
    .text-gray-700 {
      color: rgb(177 177 177)
    }
    .bg-gray-200 {
      background-color: rgb(89 95 104)
    }
    .border-gray-200 {
      border-color: #2e3238;
    }
    .shadow {
      box-shadow: 0 1px 3px 0 rgba(255, 255, 255, 0.1), 0 1px 2px 0 rgba(255, 253, 255, 0.06);
    }
}